body{
  margin: 5% 10%;
  background-image: url('./image/hq-trivia-background.png');
  background-repeat: no-repeat;
  background-position: center;
}

#top-section {
  display: flex;
  flex-direction: row;
}
#trivia-dude {
  align-items: center;
  width: 30%;
  border-radius: 100%;
  margin-right: 100px;
  margin-bottom: 20px;
}

#question-container {
  background-color: white;
  margin: 20px;
  width: 80%;
  font-size: 30px;
  font-family: sans-serif;
}

table.game-table {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #FFD56B;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.block-cell, .category {
  border: 10px solid #94D0CC;
  padding: 4px 10px;
}

.category {
  font-size: 1.24em;
  font-weight: bold;
  color: #000000;
  text-align: center;
  word-wrap: normal;
  width: 20%
}

.block-cell {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}


.block-cell:hover {
  cursor: pointer;
  transform: scale(1.5);
}

table.game-table thead {
  background: #FF7B54;
  background: -moz-linear-gradient(top, #ff9c7f 0%, #ff8865 66%, #FF7B54 100%);
  background: -webkit-linear-gradient(top, #ff9c7f 0%, #ff8865 66%, #FF7B54 100%);
  background: linear-gradient(to bottom, #ff9c7f 0%, #ff8865 66%, #FF7B54 100%);
  border-bottom: 1px solid #444444;
}

#user-response {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  font-size: 1.25em;
}
